[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"

[[headers]]
  for = "/robots.txt"
  [headers.values]
    Content-Type = "text/plain"

# The default catch-all for SPA.
# existing files (like sitemap.xml) are served automatically.
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
