@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-neonBlue: #00FFFF;
  --color-neonPink: #FF00FF;
  --color-dark: #000000;
  
  --animate-pulseSlow: pulse 10s infinite;
  --animate-spinSlow: spin 10s linear infinite;
  
  --image-stars: url('/stars-bg.png');
}

@layer base {
  body {
    @apply bg-dark text-white font-sans;
  }
}

@layer utilities {
  .bg-stars {
    background-image: url('/stars-bg.png');
    background-size: cover;
    background-repeat: repeat;
  }
}
